@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

:root {
  /* Primary  */
  --Blue: hsl(223, 87%, 63%);

  /* Secondary */
  --Pale-Blue: hsl(223, 100%, 88%);
  --Light-Red: hsl(354, 100%, 66%);

  /* Neutral */
  --Gray: hsl(0, 0%, 59%);
  --Very-Dark-Blue: hsl(209, 33%, 12%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;

  font-size: 62.5%;
}

body {
  font-family: "Libre Franklin", sans-serif;
  background: #fff;
  color: #000;
  font-size: 20px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-height: 100vh;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
  overflow: hidden;
}

.logo {
  margin-top: 4rem;
  margin-bottom: 3rem;
}

h1 {
  font-size: 5rem;
  font-weight: 300;
  color: var(--Gray);
  margin-bottom: 3rem;
}

h1 span {
  color: var(--Very-Dark-Blue);
  font-weight: 700;
}
p {
  color: var(--Very-Dark-Blue);
  margin-bottom: 3rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 8rem;
  position: relative;
}

form.error {
  visibility: visible;
}

form.error input {
  border: 2px solid var(--Light-Red);
}

small {
  visibility: hidden;
  color: var(--Light-Red);
  position: absolute;
  top: 7rem;
  left: 65rem;
  font-size: 1.3rem;
  font-style: italic;
}

form.error small {
  visibility: visible;
}

input {
  display: block;
  width: 42.7rem;
  height: 5.5rem;
  border-radius: 6rem;
  background-color: transparent;
  border: 1px solid var(--Pale-Blue);
  outline: none;
  padding-left: 4rem;
  box-sizing: border-box;
  margin-right: 1.7rem;
}

input::placeholder {
  color: var(--Pale-Blue);
  font-size: 1.7rem;
}

button {
  display: inline-block;
  width: 20.6rem;
  background-color: var(--Blue);
  border: none;
  padding: 1.6rem;
  border-radius: 6rem;
  font-size: 1.7rem;
  color: #fff;
  box-shadow: 0px 12px 20px rgba(11, 70, 235, 0.2);
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

input:focus,
button:focus {
  outline: none;
}

.dashboard {
  max-width: 64rem;
  margin: auto;
}
img {
  width: 100%;
}

ul {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 2.8rem;
}

ul li a {
  width: 3.5rem;
  height: 3.5rem;
  background: #fff;
  line-height: 8rem;
  margin: 0 1rem;
  display: block;
  color: var(--Blue);
  font-size: 1.5rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--Blue);
  transition: all 0.2s ease;
}

ul li a:hover {
  color: #fff;
  background: var(--Blue);
}

i {
  position: absolute;
  right: 1rem;
  left: 1rem;
  top: 1rem;
}

.copyright {
  font-size: 1.5rem;
  color: var(--Gray);
}

@media screen and (max-width: 700px) {
  .logo {
    margin-top: 6rem;
  }
  h1 {
    font-size: 4rem;
  }

  p {
    margin-bottom: 5rem;
  }

  small {
    left: 9rem;
  }

  button {
    margin-top: 5rem;
    margin-right: 1.5rem;
    width: 42.7rem;
  }

  .dashboard {
    margin-top: -2rem;
    margin-bottom: 6rem;
  }
}
